.buttonSearchWraper {
  display: none;
}
.mobileMenuBtn {
  display: none;
}

.navSearch {
  display: flex;
  align-items: center;
  border-radius: 28px;
  border: 2px solid #026c51;
  height: 40px;
  width: 890px;
  overflow: hidden;
}

.navSearch input {
  width: 100%;
  padding: 0 auto;
  font-size: 16px;
}
.navSearch input:focus {
  border: none;
  outline: none;
}

.navSearch button {
  padding: 0 30px;
  background: #026c51;
  color: white;
  height: 40px;
  display: inline-block;
  border-radius: 0 29px 29px 0;
  margin-right: -2px;
}

@media only screen and (min-width: 200px) and (max-width: 1100px) {
  .searchWraper {
    display: none;
  }
  .buttonSearchWraper {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 200px) and (max-width: 550px) {
  .nanMenu {
    display: none;
  }
  .mobileMenuBtn {
    display: block;
  }
  .navSearch{
    height: 34px;
  }
}
