@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind Classes */
@import url("./cunstomTailwindClsses.css");

/* Globals Styles */
@import url("./GlobalsStyles/root.css");

/* Carosel Styles */
@import url("./componentsStyles/Carosel.module.css");

/* *{
    outline: 1px solid red;
} */

.slick-slide {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 0.1px;
  padding: 3px 0.1px;
}

.slick-list {
  height: 405px !important;
}

.slick-track {
  margin-left: 0 !important;
}

.span {
  height: 10px !important;
}

.span span {
  display: none !important;
}

.container div {
  height: 10px !important;
}

/* pagination style */

.profileNavbar:last-child div p {
  border: none !important;
}

.shadowreviews {
  background: #ffffff;
  /* Effect 16 */

  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.switch {
  position: relative;
  display: inline-block;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #fb641b;
}

input:focus+.slider {
  box-shadow: 0 0 1px #fb641b;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .reviewBox {
  width: 924px;
  height: 56px;
  background: #ffffff;


  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;

} */

.reviewDetails {
  width: 924px;
  height: 149px;
  left: 636px;
  top: 377px;
  background: #ffffff;

  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.reviewBtn {
  box-sizing: border-box;

  position: absolute;
  width: 121px;
  height: 32px;
  /* left: 1311px;
top: 453px; */

  /* Button color */

  border: 1px solid #fb641b;
}

.dividerReview {
  width: 134px;
  height: 0px;
  left: 668px;
  top: 361px;

  /* Button color */

  border: 1px solid #fb641b;
}

.historyBox {

  /* White */

  background: #ffffff;
  /* Effect 16 */

  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.reviewResponsive {

  /* White */

  background: #ffffff;
  /* 6 Effect */

  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.historyResponsive {
  background: #FFFFFF;
  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.historyInside {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px
}

.manageAccountBox {
  background: #FFFFFF;
  /* Effect 16 */

  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.writeResponsiveBox {

  background: #ffffff;
  /* 6 Effect */

  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.verticalDivider {
  width: 198px;
  height: 0px;
  left: 1278px;
  top: 315px;

  /* offer color */

  border: 1px solid #707070;
  transform: rotate(90deg);
}

.writeReviewTextArea {
  border: 1px solid #B7B7B7;
  border-radius: 4px;
}

.responsiveImageFileUpload {

  border: 1px dashed #B7B7B7;

  border-radius: 4px;
  box-sizing: border-box;
}

.wishlistBox {
  background: #ffffff;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.wishlistcard {
  background: #ffffff;
  border: 1px solid #f2f3f7;
  box-shadow: 0px 7.96364px 39.8182px 2.65455px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.wishlistloveButton {
  background: #ffffff;
  box-shadow: 0px 7.96364px 39.8182px 2.65455px rgba(0, 0, 0, 0.18);
}

.continueButton {
  box-sizing: border-box;
  width: 220px;
  height: 56px;
  border: 2px solid #fb641b;
}

.followStore {



  background: #ffffff;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.profile {
  background: #ffffff;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.EmailChangeInput {
  box-sizing: border-box;

  width: 411px;
  height: 64px;
  left: 608px;
  top: 697px;

  /* White */

  background: #ffffff;
  /* Off Black */

  border: 1px solid #b7b7b7;
  border-radius: 4px;
}

.couponBox {
  background: #FFFFFF;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.couponBoxInside {
  background: #FFFFFF;
  /* Effect 16 */

  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.EmailChangeButton {
  width: 172px;
  height: 48px;
  left: 1139px;
  top: 837px;

  /* Button color */

  background: #fb641b;
  border-radius: 4px;
}

.imgs {
  height: 103px !important;
}

.cart-img {
  height: 103px !important;
  width: 127px !important;
}

.btn-cart {
  width: 34px;
  height: 34px;
  background-color: #F2F3F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-bg {
  background: white;
}

.carosel .swiper-button-next::after,
.carosel .swiper-button-prev::after {
  font-size: 1rem;
  font-weight: 1000;
  color: #B7B7B7;
}

.swiper-button-prev {
  left: 10px;
  right: auto;
  background: #F2F2F2;
  border-radius: 50%;
  width: 38px !important;
  height: 38px !important;
  font-size: 5px;
}

.carosel .swiper-button-next::before,
.carosel .swiper-button-prev::before {
  font-size: 1rem;
  font-weight: 1000;
  color: #B7B7B7;
}

.swiper-button-next {
  left: 10px;
  right: auto;
  background: #F2F2F2;
  border-radius: 50%;
  width: 38px !important;
  height: 38px !important;
  font-size: 5px;
}

.btn-shadow {
  box-shadow: 0px 2px 20px 7px rgb(20 50 10 / 8%) !important;

}

@media screen and (max-width: 768px) {
  .btn-cart {
    width: 18px;
    height: 18px;

    background-color: #F2F3F7;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-img {
    height: 80px !important;
    width: 100px !important;
  }

  .abs-bg {
    background: rgba(0, 0, 0, 0.6);
  }

  .swiper-button-next {
    display: none !important;
  }

  .swiper-button-prev {
    display: none !important;
  }
}

.btn-flex {
  display: flex !important;
}

.editProfile {


  /* White */

  background: #FFFFFF;
  /* Effect 16 */

  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.editInput {
  box-sizing: border-box;
  width: 240px;
  height: 48px;
  left: 660px;
  top: 362px;

  /* Off Black */

  border: 1px solid #B7B7B7;
  border-radius: 4px;
}

.changePassword {
  background: #FFFFFF;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.changePasswordInput {
  box-sizing: border-box;
  width: 418px;
  height: 48px;
  left: 660px;
  top: 362px;

  /* Off Black */

  border: 1px solid #B7B7B7;
  border-radius: 4px;
}

.profileBox {
  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
}

.EmailChangeInputRes {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #B7B7B7;
  border-radius: 4px;
}





.paymentOptionResponsiveModalButton {
  background: #FFFFFF;
  /* 6 Effect */

  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px
}

.paymentOption {
  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.wishlistResponsiveBox {
  background: #FFFFFF;
  /* 6 Effect */

  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}



.selected {

  background: url("/arrowdown.png") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.shadowtry {
  box-shadow: 0px 6px 30px 2px rgba(0, 0, 0, 0.08);
}